<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS and JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script defer src="https://kit.fontawesome.com/3f1edf2db4.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <!-- Brand (Logo + Line + DEFENCE) -->
            <a class="navbar-brand" href="/">
                <div class="navbar-brand-wrapper">
                    <img class="mobile-logo"
                        src="https://www.vardhmanairports.com/wp-content/uploads/2022/02/Logo-svg-01.svg"
                        alt="Vardhman Airport Solutions">
                    <div class="vertical-line"></div>
                    <span class="defence-text">DEFENCE</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-toggle-wrapper">
                                <a class="nav-link" href="/products" id="productsDropdown">
                                    Our Products
                                </a>
                                <span class="dropdown-toggle-arrow" tabindex="0">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                                <li class="dropdown-submenu">
                                    <div class="dropdown-toggle-wrapper">
                                        <a class="dropdown-item" href="/products/category/airfield_lighting">Airfield
                                            Lighting</a>
                                        <span class="dropdown-toggle-arrow" tabindex="0">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                    <ul class="dropdown-menu submenu">
                                        <li class="dropdown-submenu">
                                            <div class="dropdown-toggle-wrapper">
                                                <a class="dropdown-item"
                                                    href="/products/category/airfield_lighting/classification/airfield_ground_lights">Airfield
                                                    Ground Lights</a>
                                                <span class="dropdown-toggle-arrow" tabindex="0">
                                                    <i class="fa fa-caret-down"></i>
                                                </span>
                                            </div>
                                            <ul class="dropdown-menu submenu-level-2">
                                                <li><a class="dropdown-item"
                                                        href="/products/product/photometric_system">Photometric System</a></li>
                                                <li><a class="dropdown-item"
                                                        href="/products/product/advanced_visual_docking_guidance_system">Visual
                                                        Docking Guidance</a></li>
                                                <li><a class="dropdown-item" href="/products/product/ilcms">ILCMS</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <div class="dropdown-toggle-wrapper">
                                                <a class="dropdown-item"
                                                    href="/products/category/airfield_lighting/classification/approach_lighting">Approach
                                                    Lighting</a>
                                                <span class="dropdown-toggle-arrow" tabindex="0">
                                                    <i class="fa fa-caret-down"></i>
                                                </span>
                                            </div>
                                            <ul class="dropdown-menu submenu-level-2">
                                                <li><a class="dropdown-item" href="/products/product/papi_lighting">PAPI
                                                        Lighting</a></li>
                                                <li><a class="dropdown-item" href="/products/product/runway_lighting">Runway
                                                        Lighting</a></li>
                                                <li><a class="dropdown-item" href="/products/product/taxiway_lighting">Taxiway
                                                        Lighting</a></li>
                                                <!-- Add more items as needed -->
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <div class="dropdown-toggle-wrapper">
                                                <a class="dropdown-item"
                                                    href="/products/category/airfield_lighting/classification/led_technology">LED
                                                    Technology</a>
                                                <span class="dropdown-toggle-arrow" tabindex="0">
                                                    <i class="fa fa-caret-down"></i>
                                                </span>
                                            </div>
                                            <ul class="dropdown-menu submenu-level-2">
                                                <li><a class="dropdown-item" href="/products/product/led_approach_light">LED
                                                        Approach Light</a></li>
                                                <li><a class="dropdown-item" href="/products/product/led_threshold_light">LED
                                                        Threshold Light</a></li>
                                                <li><a class="dropdown-item" href="/products/product/led_runway_end_light">LED
                                                        Runway End Light</a></li>
                                                <!-- Add more items as needed -->
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-toggle-wrapper">
                                        <a class="dropdown-item" href="/products/category/air_traffic_management">Air Traffic Management</a>
                                        <span class="dropdown-toggle-arrow" tabindex="0">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="/products/product/air_traffic_management_system">Air
                                                Traffic Management System</a></li>
                                        <li><a class="dropdown-item" href="/products/product/trailer_mounted_mobile_atc">Mobile
                                                ATC Tower</a></li>
                                        <li><a class="dropdown-item"
                                                href="/products/product/digital_voice_recorder_system">Digital Voice
                                                Recorder</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-toggle-wrapper">
                                        <a class="dropdown-item" href="/products/category/airfield_equipment">Airfield Equipment</a>
                                        <span class="dropdown-toggle-arrow" tabindex="0">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="/products/product/airfield_lighting_system">Airfield
                                                Lighting System</a></li>
                                        <li><a class="dropdown-item" href="/products/product/airfield_alarm_system">Airfield
                                                Alarm System</a></li>
                                        <li><a class="dropdown-item"
                                                href="/products/product/airfield_road_traffic_management">Road Traffic
                                                Management</a></li>
                                        <li><a class="dropdown-item"
                                                href="/products/product/external_pilot_cage_protection">Pilot Cage
                                                Protection</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-toggle-wrapper">
                                        <a class="dropdown-item" href="/products/category/navigation_tracking">Navigation & Tracking</a>
                                        <span class="dropdown-toggle-arrow" tabindex="0">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="/products/product/portable_tracking_system">Portable
                                                Tracking System</a></li>
                                        <li><a class="dropdown-item" href="/products/product/ndb_beacon">NDB Beacon</a></li>
                                        <li><a class="dropdown-item" href="/products/product/cadf_system">CADF System</a></li>
                                        <li><a class="dropdown-item"
                                                href="/products/product/aircraft_monitoring_system">Aircraft Monitoring
                                                System</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-toggle-wrapper">
                                        <a class="dropdown-item" href="/products/category/weather_communication">Weather & Communication</a>
                                        <span class="dropdown-toggle-arrow" tabindex="0">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item"
                                                href="/products/product/automatic_weather_observation_system">Weather
                                                Observation System</a></li>
                                        <li><a class="dropdown-item" href="/products/product/weather_radar">Weather Radar</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="/products/product/tactical_communication_system">Tactical
                                                Communication</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <div class="dropdown-toggle-wrapper">
                                        <a class="dropdown-item" href="/products/category/support_equipment">Support Equipment</a>
                                        <span class="dropdown-toggle-arrow" tabindex="0">
                                            <i class="fa fa-caret-down"></i>
                                        </span>
                                    </div>
                                    <ul class="dropdown-menu submenu">
                                        <li><a class="dropdown-item" href="/products/product/power_generation_system">Power
                                                Generation System</a></li>
                                        <li><a class="dropdown-item" href="/products/product/equipment_shelter">Equipment
                                                Shelter</a></li>
                                        <li><a class="dropdown-item"
                                                href="/products/product/runway_miscellaneous_equipment">Runway Equipment</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <div class="dropdown-toggle-wrapper">
                                <a class="nav-link" href="/solutions" id="solutionsDropdown">
                                    Our Solutions
                                </a>
                                <span class="dropdown-toggle-arrow" tabindex="0">
                                    <i class="fa fa-caret-down"></i>
                                </span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pov">Point of View</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>