<%- include('partials/header') %>

<div style="padding: 2rem; padding-top: 8rem;">
  <% for (const code in metarData) { const data = metarData[code]; %>
    <div style="margin-bottom: 3rem; padding: 1rem; border: 1px solid #ccc; border-radius: 10px;">
  <h2><%= data.station %></h2>

  <div style="margin-top: 1rem; background-color: #f0f0f0; padding: 1rem; border-radius: 6px;">
    <strong>METAR</strong> <br>
    <code style="font-family: monospace;"><%= data.raw %></code>
  </div>
</div>

  <% } %>
</div>

<%- include('partials/footer') %>
